<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dataflowsystem -->
      <package
            uri="http://sdq.ipd.kit.edu/dataflow/systemmodel"
            class="edu.kit.ipd.sdq.dataflow.systemmodel.SystemModelPackage"
            genModel="model/dataflowsystem.genmodel"/>
   </extension>

</plugin>
