/.CallerTranslator.java._trace
/.CallerTranslator.xtendbin
/.LogicTermTranslator.java._trace
/.LogicTermTranslator.xtendbin
/.LogicTermTypeChecker.java._trace
/.LogicTermTypeChecker.xtendbin
/.PrologProgram.java._trace
/.PrologProgram.xtendbin
/.TypeInformationTranslator.java._trace
/.TypeInformationTranslator.xtendbin
/CallerTranslator.java
/LogicTermTranslator.java
/LogicTermTypeChecker.java
/PrologProgram.java
/TypeInformationTranslator.java
