/.AttributeDataTypeRestriction.java._trace
/.AttributeRestriction.java._trace
/.TypeRestrictions.java._trace
/.AttributeValueSetTypeRestriction.java._trace
/.TermTypeRestrictionsCollector.java._trace
/.AssignmentTypeRestrictionsCollector.java._trace
